# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models & Weights
weights/*.pt
weights/*.engine
weights/*.onnx
weights/clip/

# Data & Results
data/demo/
results/
*.mp4
*.avi
*.jpg
*.png

# Logs & Configs
*.log
.DS_Store
.vscode/